.container {
	max-width: 1300px;
	margin: 0 auto;

	.container__order {
		margin-top: 30px;
		font-size: 20px;
		font-weight: 600;
	}

	.info {
		display: flex;
		flex-wrap: wrap;
		margin-left: 20px;

		.info__img {
			width: 15%;
			margin-right: 25px;

			/* Респонсивные стили для ноутбуков и планшетов */
			@media screen and (max-width: 1024px) {
				width: 20%;
			}

			/* Респонсивные стили для телефонов */
			@media screen and (max-width: 480px) {
				width: 50%;
				margin-right: 10px;
			}
		}

		.info__img img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			background-position: center;
		}

		.info__container {
			width: 30%;
			display: flex;
			flex-direction: column;
			position: relative;

			/* Респонсивные стили для ноутбуков и планшетов */
			@media screen and (max-width: 1024px) {
				width: 35%;
			}

			/* Респонсивные стили для телефонов */
			@media screen and (max-width: 480px) {
				width: 100%;
			}

			.container__title {
				display: flex;
				justify-content: space-between;
				margin-bottom: 20px;

				.container__name {
					font-weight: 700;
					font-size: 20px;
					letter-spacing: 3px;
					padding-bottom: 5px;
				}

				.container__price {
					font-size: 18px;
					font-weight: 600;
				}

				.container__XSvg {
					position: absolute;
					right: -40px;
					top: -5px;
					cursor: pointer;
				}
			}

			.container__paragraph {
				display: flex;
				justify-content: space-between;

				.container__quantity {
					font-size: 19px;
				}
			}

			.container__paragraph span {
				display: flex;
				justify-content: center;
				align-items: center;
				border: solid 0.5px #000;
				padding: 2px;
				border-radius: 3px;
				font-size: 20px;
			}

			.container__paragraph svg {
				margin: 0 10px 0 10px;
				cursor: pointer;
			}
		}
	}

	.container__sum {
		font-size: 19px;
		font-weight: 600;
	}
	.container__button {
		display: flex;
		justify-content: center;
	}
	button {
		margin: 20px 0 30px 0;
		width: 50%;
		color: #fff;
		background-color: #ef4744;
		border: none;
		padding: 15px;
		font-weight: 600;
		font-size: 16px;
		transition: 200ms linear;
	}
	button:hover {
		background-color: #ef4744;
		opacity: 0.8;
		cursor: pointer;
	}

	/* Респонсивные стили для ноутбуков и планшетов */
	@media screen and (max-width: 1024px) {
		.container__order {
			font-size: 18px;
			margin-left: 20px;
		}
		.container__sum {
			font-size: 18px;
			margin-left: 20px;
		}

		.info {
			margin-left: 25px;

			.info__container {
				.container__title {
					.container__name {
						font-size: 18px;
					}

					.container__price {
						font-size: 16px;
					}
				}

				.container__paragraph {
					.container__quantity {
						font-size: 17px;
					}

					.container__paragraph span {
						font-size: 18px;
					}
				}
			}
		}
	}

	/* Респонсивные стили для телефонов */
	@media screen and (max-width: 480px) {
		.container__order {
			font-size: 16px;
		}
		.container__sum {
			font-size: 16px;
		}

		.info {
			margin-left: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.info__container {
				width: 80%;
				padding: 15px;

				.container__title {
					justify-content: space-between;
					margin-bottom: 15px;

					.container__name {
						font-size: 19px;
						padding-bottom: 3px;
					}

					.container__price {
						font-size: 17px;
					}
					.container__XSvg {
						right: -20px;
						top: 9px;
					}
				}

				.container__paragraph {
					justify-content: space-between;

					.container__quantity {
						font-size: 18px;
					}

					.container__paragraph span {
						font-size: 20px;
					}
				}
			}
		}
	}
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
