.title {
	display: flex;
	justify-content: center;
	padding: 30px 0 20px 0;
	position: relative;

	&__paragraph {
		font-weight: 700;
		font-size: 20px;
	}
	span {
		color: #a52a2a;
		font-size: 35px;
	}
	&__roof {
		position: absolute;
		top: 17px;
		left: 783px;
		width: 3px;
		height: 40px;
		background-color: black;
		transform: rotate(70deg);
	}
	&__roof_2 {
		position: absolute;
		top: 17px;
		left: 820px;
		width: 3px;
		height: 40px;
		background-color: black;
		transform: rotate(-70deg);
	}
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.product__card {
		position: relative;
		max-width: 370px;
		max-height: 490px;
		background-color: #f5f5f5;
		border: 1px solid #ddd;
		border-radius: 5px;
		padding: 10px;
		margin: 20px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		&:hover {
			.product__card__svg {
				opacity: 1;
				transform: translateY(-10px);
			}
		}

		&__image {
			width: 100%;
			max-height: 300px;
			object-fit: cover;
			border-radius: 5px;
		}

		&__title {
			font-size: 18px;
			font-weight: bold;
			margin-top: 10px;
		}

		&__price {
			font-size: 16px;
			color: #888;
			margin: 10px 0 10px 0;
			display: flex;
			justify-content: space-between;
		}

		&__weight {
			font-size: 14px;
			color: #888;
			margin-top: 5px;
		}
		&__svg {
			position: absolute;
			top: 25px;
			right: 15px;
			opacity: 0;
			transition: opacity 0.25s ease, transform 0.25s ease-out;
			transform: translateY(5px);
			cursor: pointer;
		}
	}
}
.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}
