.container {
	display: flex;
	margin-top: 50px;

	.img {
		width: 650px;
		height: 650px;
		margin: 0 100px 0 100px;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		background-position: center;
		border-radius: 10px;
	}
	.info {
		width: 25%;
		.info__name {
			font-weight: 700;
			font-size: 20px;
			letter-spacing: 3px;
			padding-bottom: 5px;
		}
		.info__price {
			color: #ef4744;
			font-size: 18px;
			font-weight: 600;
		}
		button {
			margin-top: 20px;
			width: 100%;
			color: #fff;
			background-color: #ef4744;
			border: none;
			padding: 15px;
			font-weight: 600;
			font-size: 16px;
			transition: 200ms linear;
		}
		button:hover {
			background-color: #ef4744;
			opacity: 0.8;
			cursor: pointer;
		}
	}

	@media screen and (max-width: 1024px) {
		/* Стили для ноутбуков и планшетов */
		.img {
			width: 450px;
			height: 450px;
			margin: 0 100px 0 100px;
		}
		.info {
			.info__name {
				font-size: 18px;
				letter-spacing: 2px;
				padding-bottom: 3px;
			}

			.info__price {
				font-size: 16px;
			}

			button {
				font-size: 14px;
				padding: 15px;
			}
		}
	}

	@media screen and (max-width: 768px) {
		/* Стили для планшетов */
		.img {
			width: 350px;
			height: 420px;
			margin: 0 35px 0 35px;
		}
		.info {
			width: 30%;
			.info__name {
				font-size: 16px;
				letter-spacing: 1px;
				padding-bottom: 2px;
			}

			.info__price {
				font-size: 14px;
			}

			button {
				margin-top: 15px;
				font-size: 12px;
				padding: 12px;
			}
		}
	}

	@media screen and (max-width: 480px) {
		/* Стили для телефонов */
		.img {
			width: 200px;
			height: 300px;
			margin: 0 15px 0 15px;
		}
		.info {
			width: 35%;
			.info__name {
				font-size: 10px;
				letter-spacing: 1px;
				padding-bottom: 1px;
			}

			.info__price {
				font-size: 12px;
			}

			button {
				margin-top: 10px;
				font-size: 9px;
				padding: 5px;
			}
		}
	}
}
.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
