.sidebar {
	width: 300px;
	height: 100vh;
	background-color: #f2f2f2;
	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	&__item {
		padding: 10px;

		p {
			text-decoration: none;
			color: #333;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
