.wrapper {
	background: blanchedalmond;
	display: flex;
	justify-content: center;
	align-items: center;

	.navigation {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		font-size: 18px;
		font-weight: 600;

		> * + * {
			margin-left: 20px;
		}
		> * {
			transition: 200ms linear;
		}
		> * {
			&:hover {
				color: #ef4744; // Здесь можно указать желаемый цвет при наведении
			}
		}
	}

	.links {
		display: flex;
		align-items: center;
		margin-right: 20px;

		> * + * {
			margin-left: 20px;
		}
	}
}
