.wrapper {
	background: blanchedalmond;
	display: flex;
	justify-content: center;
	align-items: center;

	.navigation {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		font-size: 18px;
		font-weight: 600;

		> * + * {
			margin-left: 20px;
		}
		> * {
			transition: 200ms linear;
		}
		> * {
			&:hover {
				color: #ef4744; // Здесь можно указать желаемый цвет при наведении
			}
		}
	}

	.links {
		display: flex;
		align-items: center;
		margin-right: 20px;
		padding: 15px;

		> * + * {
			margin-left: 20px;
		}
	}
	// Медиа-запросы для разных устройств
	@media screen and (max-width: 1024px) {
		// Стили для ноутбуков и планшетов
		.navigation {
			font-size: 16px;
		}
		.links svg {
			width: 30px;
			height: 30px;
		}
	}

	@media screen and (max-width: 768px) {
		// Стили для планшетов и телефонов
		.links {
			margin-right: 0;
			justify-content: flex-end;
		}
		.links svg {
			width: 27px;
			height: 27px;
		}
	}

	@media screen and (max-width: 480px) {
		// Стили для телефонов
		.navigation {
			font-size: 14px;
			justify-content: flex-start;
			margin-left: 20px;
		}
		.links svg {
			width: 25px;
			height: 25px;
		}
	}
}
